<div id="body">
  <div class="hrader">
    <div>
      <h5 class="screenTitle">Beneficiary Master</h5>
    </div>
  </div>

  <div class="pad">
    <a (click)="getDateRefresh()"> <img src="assets/img/refresh.png" class="refresh icon"></a>
    <a (click)="onExcelDownloadClick()"> <img src="assets/img/excel.png" class="refresh icon"></a>
  </div>

  <br /><br /><br />
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tbla">

      <ng-container matColumnDef="no">
        <th mat-header-cell class="sr" *matHeaderCellDef>S.NO. </th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="beneficiaryname">
        <th mat-header-cell class="sr" *matHeaderCellDef>Beneficiary Name</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.beneficiaryname}} </td>
      </ng-container>

      <ng-container matColumnDef="beneficiarybankaccount">
        <th mat-header-cell class="sr" *matHeaderCellDef>Beneficiary Bank A/C</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.beneficiarybankaccount | maskData:4}} </td>
      </ng-container>

      <ng-container matColumnDef="beneficiarybankname">
        <th mat-header-cell class="sr" *matHeaderCellDef>Beneficiary Bank Name</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.beneficiarybankname}} </td>
      </ng-container>
      
      <ng-container matColumnDef="ifsccode">
        <th mat-header-cell class="sr" *matHeaderCellDef>IFSC Code</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.ifsicode}} </td>
      </ng-container>

      <ng-container class="tblb" matColumnDef="balance">
        <th mat-header-cell class="right tblb" *matHeaderCellDef>Balance</th>
        <td mat-cell class="right" *matCellDef="let element"> {{element.balance}} </td>
      </ng-container>

      <ng-container matColumnDef="debitAct">
        <th mat-header-cell class="sr" *matHeaderCellDef>Debit Account</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.debitAct}} </td>
      </ng-container>

      <ng-container matColumnDef="calaActName">
        <th mat-header-cell class="sr" *matHeaderCellDef>CALA Account Name</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.calaActName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10,30,50,100]"
      (page)="pageEvent($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>