<form class="example-form" [formGroup]="passwordForm"  (ngSubmit)="onResetClick()">
    <div class="heading">
        <mat-label class="headingcolor"><b>Reset Your Password</b>
        </mat-label>
    </div>
    <br />
    <div>

        <mat-form-field class="example-full-width">
            <mat-icon class="passclr" matPrefix>lock_outline</mat-icon>
            <input  id="newpwdtxt" name="newpwdtxt"  type="password" autocomplete="new-password" required formControlName="newpasswordFormControl" 
            [errorStateMatcher]="matcher" matInput placeholder="New Password" [(ngModel)]='pass1'[type]="hide ? 'password' : 'text'">
            
            <mat-error *ngIf="!passwordForm.controls['newpasswordFormControl'].hasError('required') &&  passwordForm.controls['newpasswordFormControl'].hasError('pattern')">
                Please enter a valid Password
              </mat-error>
              <mat-error *ngIf="passwordForm.controls['newpasswordFormControl'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error> 
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
         
        <br />
        
        <mat-form-field class="example-full-width passinline">
            <mat-icon class="passclr" matPrefix>lock_outline</mat-icon>
            <input id="confirmpwdtxt" name="confirmpwdtxt" formControlName ="confirmpasswordFormControl" 
            [errorStateMatcher]="matcher" required   type="password" autocomplete="new-password" matInput placeholder="Confirm Password" [(ngModel)]='pass2'  [type]="hideNewPassword ? 'password' : 'text'" >
            <mat-error *ngIf="!passwordForm.controls['confirmpasswordFormControl'].hasError('required') &&  passwordForm.controls['confirmpasswordFormControl'].hasError('pattern')">
                Please enter a valid Password
              </mat-error>
              <mat-error *ngIf="passwordForm.controls['confirmpasswordFormControl'].hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
       
        <br />
        <div class="btn">
            <button mat-raised-button type="submit" class="btnreset">
                    <b>Reset</b>
            </button>
        </div>
    </div>
    <br /><br />
    <div>
        <span class="dot"></span> &nbsp; &nbsp; <label class="passattemt">You can not use
            the last <b>5
                Passwords.</b></label>
    </div>
    <div>
        <span class="dot"></span> &nbsp; &nbsp; <label class="passchar">Length for
            password must be minimum 8
            characters.
            <br />The password combination must include one capital letter ,<br />number & special character.
        </label>
    </div>


</form>