.heading{
  text-align: left;
}
.headingcolor{
  color: rgb(151,20,77);
  font-size: xx-large;
  font-weight: bolder;
}
.passclr{
  color: rgb(151,20,77);
}
.passinline{
  display:inline
}
.btn{
  float: left;
}
.btnreset{
  background-color:rgb(151,20,77);
  width :7rem;
  font-size:large;
  color: white;
}
.passattemt{
  color:rgb(151,20,77);
  font-weight: bold;
  font-family: Lato
}
.passchar{
  color:rgb(151,20,77);font-weight: bold;font-family: Lato
}

.dot {
    height: 8px;
    width: 8px;
   color: red;
    border-radius: 50%;
    display: list-item;
    margin-left: 15px;
    
  }
  .example-form {
  min-width: 350px;
  max-width: 1000px;
  width: 100%;
  padding-left: 13rem;
  padding-right: 12rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.mat-icon-button{
  float: right;
  size: 5rem;
}
.example-full-width {
  width: 100%;
}
