<div id="body">
    <div class="col-sm-4">
        <h6 class="heading">REGISTRATION</h6>
    </div>
    <br />
    <div class=row>

        <form class="col-md-6">
            <div class="row" class="form">
                <label class="col-md-4 color">Salutation</label>
                <select class="form-group col-md-5 ">
                    <option>--select--</option>
                    <!-- <option >Saab</option>
                        <option>Opel</option>
                        <option>Audi</option> -->
                </select>
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Last Name</label>
                <input class="form-group col-md-5 " />
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Mobile Number</label>
                <input type="password"  autocomplete="new-password" class="form-group col-md-5 " />
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Role Value</label>
                <select class="form-group col-md-5 ">
                    <option>--select--</option>
                    <!-- <option >Saab</option>
                <option>Opel</option>
                <option>Audi</option> -->
                </select>
            </div>


        </form>
        <form class="col-md-6">
            <div class="row" class="form">
                <label class="col-md-4 color">First Name</label>

                <input class="form-group col-md-5 " />
                <!-- <select class="form-group col-md-5 ">
              <option >--select--</option>
              <option >Saab</option>
              <option>Opel</option>
              <option>Audi</option>
            </select> -->
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Email Address</label>
                <input class="form-group col-md-5 " />
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Role</label>
                <select class="form-group col-md-5 ">
                    <option>Not Selected</option>
                    <!-- <option >Saab</option>
                <option>Opel</option>
                <option>Audi</option> -->
                </select>
            </div>
            <div class="row" class="form">
                <label class="col-md-4 color">Login Name</label>
                <input type="int" class="form-group col-md-5" />
            </div>
        </form>
    </div>
    <div><button mat-raised-button type="save">Save</button>

    </div><br />
</div>