.mat-raised-button {
    margin-left: 450px;
    background-color: rgb(151,20,77) ;
    color: #ffffff;
}
#body{
    margin-bottom: 509px;
    width: 100%;
    padding-top: 25px;
}
.heading{
    color: gray;
}
.color{
    color: rgb(138, 135, 135);
}
