

  <app-login-layout></app-login-layout>

  <div class="error404">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="errorstr">
                    <div class="oppsText">
                        <h2>Oops !</h2>
                        <p>We can't find the page you're looking for. </p>
                        <p>Go to home page for <a routerLink="/login">Login</a>. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
