#body{
    overflow-x:hidden;
    margin-bottom: 219px;
}
.heading{
  margin-left: 25px;padding-top: 25px;
}
.radio{
  margin-left: 57%;margin-right:5%;float: right;
}
.radiolft{
  margin-left: 2px;
}
.icon{
  width:100%;margin-right:32px;float: right;
}
.tbla{
  display: table;
  margin-left: 28px; 
  margin-bottom: 92px;
}
.tblb{
  display: table-row; 
  width: 100%;
  justify-content:space-between;
}
.tblc{
  display: table-cell;
  margin-right: 5500px;
}
.tbld{
  display: table-cell;
}
.tblcount{
  cursor: pointer;
  color: rgb(151,20,77);
}
table {
    width: 90%;
    height: 5%;
   background-color: white;
  }
  .mat-cell{
   color: black;
   font-family: 'Lato';
  }

  .mat-header-cell{
    color:white;
    font-family: 'Lato';
    
  }
  .right{
     text-align: right;
 }  
  .mat-header-row {
      background-color:rgb(151,20,77) ;
  }

  .row{
      color:black;
  }
  hr{
    border-bottom: 1px solid rgb(151,20,77) ;
    height: 1px;
    width: 80%;
    background-color:rgb(151,20,77)  ;
  }

  tr,td,th{
      //border:1px solid #ced4da;
      border:1px solid black ;
      width: 500px;
  }

  h5 {
    color:black;
    font-family: 'Lato';
  }
  .color{
    color: black;
    font-family: 'Lato';
    font-size:16px;
  }
  .AmountStyle{
    width:18px;height:10px;
    cursor:pointer;
  }

  #currency-default{
    color: blue;
    background-color: blue;
  }
  .mat-radio-group{
    color: rgb(138, 135, 135);
  }

  #example-radio-group-label{
    color: blue;
  }
  .mat-radio-button{color: blue;}

  .excel{
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
  }

  .refresh{
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
  }