<form class="example-form">
    <div class="mat-dialog heading">
        <mat-label class="otp">Enter OTP To Reset Your Password</mat-label>
        <br /><br />
        <div>
            <input id="partitioned" type="password" autocomplete="new-password" class="otpout" maxlength="6" size="6"
                (blur)="onBlur($event.target.value)" (onfocusout)="onBlur($event.target.value)" />
            <!-- <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input> -->
        </div>
        <br />
        <div>
            <button mat-raised-button type="verify" (click)="OpendailogVerifyPassword()"
                class="verify"><b>Verify</b></button>
            <br />

            <mat-label><a (click)="resendOTP()" class="resend"><b>Resend
                        OTP</b></a></mat-label>
            <br />
            <div>
                <p>{{counterclick}} Resend OTP Attempts Left,Re-Directed to Login page after given attempts elapse</p>
            </div>
            <br>
            <mat-label>
                <a (click)="onRedirectToForgotPassword()"
                    class="wrng">Entered a wrong
                    Number?</a>
            </mat-label>
        </div>
    </div>
</form>