.example-form {
    min-width: 350px;
    max-width: 1000px;
    width: 100%;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 7rem;
    padding-bottom: 6rem;
  }
  .heading{
    text-align: center;
  }
  .headingclr{
    color:rgb(151,20,77);font-size: 35px;
  }
  .okbtn{
    text-align: center;
  }
  .okbtncolor{
    color:rgb(151,20,77);width :7rem;background-color: rgb(190, 189, 189);font-size:large;
  }