<div id="body">

  <div class="hrader">
    <h5 class="screenTitle"> CALA Reconciliation Statement</h5>
  </div>

  <div>
    <div class="amtInRupeesCrores">
      <input class="amtRupees" type="radio" id="amtRupees" value="Amount in Rupees" name="Amount"
        [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />
      <label class="color radiolft" for="amtRupees">Amount in Rupees</label>

      <input class="amtCrores" type="radio" id="amtCrores" value="Amount in Crores" name="Amount"
        [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" />
      <label class="color radiolft" for="amtCrores">Amount in Crores </label>
    </div>

    <div class="row date">
      <mat-form-field appearance="outline" class="frdate">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker" class="color" [(ngModel)]='fromdate' readonly>
        <mat-datepicker-toggle matSuffix [for]="picker" class="color"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false" ></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="todate">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker1" class="color" [(ngModel)]='todate' readonly [min]='fromdate'>
        <mat-datepicker-toggle matSuffix [for]="picker1" class="color"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="actNumber">
        <mat-label>Account Number</mat-label>
        <input type="number" matInput class="acc" [(ngModel)]='accountnumber'>
      </mat-form-field>
      <button mat-raised-button id="btnlimitasondate" class="searchBtn" (click)="onSearchclick()">Search</button>
    </div>
  </div>
  <div class="icon">
    <a (click)="onRefreshClick()"> <img src="assets/img/refresh.png" class=excel></a>
    <a (click)="onExcelDownload()"> <img src="assets/img/excel.png" class=pdf></a>
    <br /><br />
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSourcecala" class="mat-elevation-z8 ">
      <ng-container matColumnDef="no">
        <th mat-header-cell class="sr" *matHeaderCellDef> S.NO. </th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="accountnumber">
        <th mat-header-cell class="sr" *matHeaderCellDef> Account Number </th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.acctNum | maskData:4}} </td>
      </ng-container>

      <ng-container matColumnDef="accountname">
        <th mat-header-cell class="sr" *matHeaderCellDef>Account Name</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.acctName}} </td>
      </ng-container>

      <ng-container matColumnDef="totalsanctionedlimits">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Total Sanctioned Limits</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.AllocatedLimits | customCurrencyPipe}}
        </td>
      </ng-container>

      <ng-container matColumnDef="limitsutilizedperprevyear">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef> Limits Utilized per prev Year </th>
        <td mat-cell class="numberPadding" *matCellDef="let element">
          {{element.UtilizedLimitTillPrvMonth | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="limitsutilizedincurryear">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Limits Utilized in curr year</th>
        <td mat-cell class="numberPadding" *matCellDef="let element">
          {{element.UtilizedLimitInCurrMonth | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="unutilizedlimit">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Unutilized Limit</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.UnUtilizedLimit | customCurrencyPipe}}
        </td>
      </ng-container>

      <ng-container matColumnDef="electtrf">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Elect TRF</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.ElecTrf | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="tdstrf">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>TDS TRF</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.PaidForTDS | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="otherdrtrf">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Other DR TRF</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.OtherDebit | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="returns">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Returns</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.Returns | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="dddebit">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>DD Debit</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.DDdebit | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="clearingdebit">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Clearing Debit</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.ClearingDr | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="lessfundscrbcktoacctmiss">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Less Funds Cr back to Acct Miss</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.CrBkToAcct | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="lessoutwardchequereturn">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Less Outward Cheque Return</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.OutChqRet | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="othercreditdepsits">
        <th mat-header-cell class="numberPadding" *matHeaderCellDef>Other Credit Depsits</th>
        <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.OtherCredit | customCurrencyPipe}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10,30,50,100]"
      (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
  </div>
  <br />
  <div class="hrader">
    <h5 class="screenTitle">Monthly CALA Statement</h5>
  </div>
  <div class="row date">

    <mat-form-field appearance="outline" class="frdate">
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [(ngModel)]="monthdate" placeholder="Date" hidden=true [readonly]="true">
      <input matInput [ngModel]="monthdate | date : 'MM/y'" [ngModelOptions]="{standalone: true}" placeholder="Date"
        readonly>
      <mat-datepicker-toggle matSuffix [for]="dp" class="color"></mat-datepicker-toggle>
      <mat-datepicker dateFormat="dates" #dp startView="multi-year" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <div class="row">
      <autocomplete-filter [dropdowndata]='dataSourcecaladrp' class="paddinglf"></autocomplete-filter>
      <button mat-raised-button id="btnlimitasondate" class="searchBtns" (click)="onSearchclicks()">Search</button>
    </div>
  </div>
  <div class="icon">
    <a (click)="onAccRefreshClick()"> <img src="assets/img/refresh.png" class=excel></a>

    <a (click)="onAccExcelDownload()"> <img src="assets/img/excel.png" class=pdf></a>
    <br /><br />
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSourcecalaacc" class="mat-elevation-z8 ">

      <ng-container matColumnDef="accountnumber">
        <th mat-header-cell class="sr" *matHeaderCellDef> Account Number </th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.acctNum == undefined ? element.ACCTNUM : element.acctNum}} </td>
      </ng-container>

      <ng-container matColumnDef="accountname">
        <th mat-header-cell class="sr" *matHeaderCellDef>Account Name</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{element.acctName == undefined ? element.ACCTNAME : element.acctName}} </td>
      </ng-container>

      <ng-container matColumnDef="reconformonthyear">
        <th mat-header-cell class="sr" *matHeaderCellDef>Recon for the Month-Year</th>
        <td mat-cell class="sr" *matCellDef="let element"> {{monthdate | date : 'MM/y'}} </td>
      </ng-container>

      <ng-container matColumnDef="openingbalance">
        <th mat-header-cell class="numberPaddings" *matHeaderCellDef>Opening Balance</th>
        <td mat-cell class="numberPaddings" *matCellDef="let element"> {{(element.OpenBal == undefined ? element.OPENBAL : element.OpenBal) | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="limitgrant">
        <th mat-header-cell class="numberPaddings" *matHeaderCellDef>Limit Grant</th>
        <td mat-cell class="numberPaddings" *matCellDef="let element"> {{(element.ALLOCATEDLIMITS) | customCurrencyPipe}}
        </td>
      </ng-container>

      <ng-container matColumnDef="limitutilized">
        <th mat-header-cell class="numberPaddings" *matHeaderCellDef>Limit Utilized </th>
        <td mat-cell class="numberPaddings" *matCellDef="let element"> {{element.UTILISED_LIMIT | customCurrencyPipe}}
        </td>
      </ng-container>

      <ng-container matColumnDef="closingbalance">
        <th mat-header-cell class="numberPaddings" *matHeaderCellDef>Closing Balance</th>
        <td mat-cell class="numberPaddings" *matCellDef="let element"> {{(element.ClosingBal == undefined ? element.CLOSINGBAL : element.ClosingBal) | customCurrencyPipe}} </td>
      </ng-container>

      <ng-container matColumnDef="pendingadjustment">
        <th mat-header-cell class="sr" *matHeaderCellDef>Pending Adjustment</th>
        <td mat-cell class="sr" *matCellDef="let element">
          <a class="hyperLink"
            (click)="openDialogPendingadjustment(element.acctNum,monthdate)">{{(element.pendingAdj == undefined ? element.PENDINGADJ : element.pendingAdj) | customCurrencyPipe}}
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    </table>

    <mat-paginator #uploadPaginator [length]="totalCountAcc" [pageSize]="accpageSize" [pageSizeOptions]="[10,30,50,100]"
      (page)="pageEventForAcc($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>