.heading{
  background-color:white;
}
.headingalign{
  text-align: center;
}
.btnok{
  width : 10em; background-color: rgb(151,20,77);margin-left: 22px; color: white;
}
.btncncl{
  width : 10em; background-color: rgb(151,20,77);margin-left: 22px; color: white;
}
  h1 {
    color: black;
    font-family: 'Lato';
}

   
  