<div class="heading">
  
  <mat-label class="heada"><mat-icon>keyboard_return</mat-icon><a routerLink="/login" class="headb"><b>Back to login</b></a></mat-label>
</div>

<div class="forgt">
  <mat-label class="forpass">Forgot Your Password?</mat-label>
  <br /><br />
  <mat-label class="foradd">
    Please enter your Registered E-Mail Address OR Mobile Number</mat-label><br /><br />
  <form class="mailtxt-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <!-- <mat-label>Enter Details</mat-label> -->
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      class="formail" placeholder="E-Mail Address/Mobile Number">
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="!emailFormControl.hasError('required') &&  emailFormControl.hasError('pattern')">
        Please enter a valid email address / mobile number
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email/Mobile Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <br />
  <div>
    <button mat-raised-button (click)="onforgotPassSumit()">
      <b>Submit</b>
    </button>
</div>
<br />