<div id="body">
  <h6 class="heading">{{title}}</h6>
  <br />

  <div>

    <form class="col-md-12" #passwordForm="ngForm"  (submit)="onUpdateClick(passwordForm)">
      <div class="row" class="form col-md-10">
        <label class="col-md-5 ">Login Name</label>
        <label class="form-group col-md-5 ">{{userName}}</label>
      </div>
      <div class="row" class="form col-md-10">
        <div class="input-group">
          <label class="col-md-5">Current Password</label>
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0 borclr">
              <i class="material-icons">lock_outline</i>
            </span>
          </div>
          <input name="password" type="password"  autocomplete="new-password" class="form-control form-control-lg  width-auto borderclr"
           [(ngModel)]='passwordVal' [type]="hideOldPassword ? 'password' : 'text'" />
          <div class="input-group-prepend bg-transparent">
            <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
      </div><br />
      <div class="row" class="form col-md-10">
        <div class="input-group">
          <label class="col-md-5">New Password</label>
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0 borclr">
              <i class="material-icons">lock_outline</i>
            </span>
          </div>
          <input name="password1" type="password"  autocomplete="new-password"  required class="form-control form-control-lg  width-auto borderclr"
            pattern="^(?=.*[\w])(?=.*[\W])[\w\W]{8,}$" #password1="ngModel"  [(ngModel)]='passwordVal1' [type]="hide ? 'password' : 'text'" />
          <div class="input-group-prepend bg-transparent">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div *ngIf="password1.invalid && (password1.dirty || password1.touched || passwordForm.submitted)">
          <div *ngIf="password1.errors.required">
            <mat-error> Password is <strong>required</strong></mat-error>
          </div>
          <div *ngIf="password1.errors.pattern">
              <mat-error>Please enter valid password</mat-error>
            </div>
          </div>
      </div>
      <br />
      <div class="row" class="form col-md-10">
        <div class="input-group">
          <label class="col-md-5">Confirm Password</label>
          <div class="input-group-prepend bg-transparent">
            <span class="input-group-text bg-transparent border-right-0 borclr">
              <i class="material-icons">lock_outline</i>
            </span>
          </div>
          <input name="password2" type="password"  autocomplete="new-password" class="form-control form-control-lg  width-auto borderclr"
            required  pattern="^(?=.*[\w])(?=.*[\W])[\w\W]{8,}$" #password2="ngModel" [(ngModel)]='passwordVal2' [type]="hideNewPassword ? 'password' : 'text'" />
          <div class="input-group-prepend bg-transparent">
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-5"></div>
          <div *ngIf="password2.invalid && (password2.dirty || password2.touched || passwordForm.submitted)">
            <div *ngIf="password2.errors.required">
              <mat-error> Password is <strong>required</strong></mat-error>
            </div>
            <div *ngIf="password2.errors.pattern">
                <mat-error>Please enter valid password</mat-error>
              </div>
            </div>
        </div>
        <br />
      <div *ngIf="flag">
        <span class="dot"></span> &nbsp; &nbsp; <label class="pass">You can not use
          the last <b>5
            Passwords.</b></label>
      </div>
      <div>
        <span class="dot"></span> &nbsp; &nbsp;
        <label class="minpass">
          Length for password must be minimum 8 characters.
          <br />The password combination must include one capital letter ,number & special character.
        </label>
      </div>
      <div>
        <button mat-raised-button type="submit" class="dialogBtn">Update</button>
        <button mat-dialog-close mat-raised-button class="dialogBtn">Close</button>
      </div>
    </form>
  </div>
</div>