.heading{
    margin-left: 28px;
}
.borclr{
    border-color: rgb(151,20,77) ;
}
.borderclr{
    border-color: #97144d;
}
.pass{
    color:rgb(151,20,77);font-weight: bold;font-family: Lato
}
.minpass{
    color:rgb(151,20,77);font-weight: bold;font-family: Lato;width: 95%;
}
h6{
    margin-left: 158px;
    color :black;
    font-family:'Lato';
}
hr{
    background-color: rgb(151,20,77) ;
    height: 1px;
    width: 75%;
}
.mat-raised-button{
    color:#ffffff;
    background-color:rgb(151,20,77) ;
    margin-bottom: 10px;
    height: 30px;   
}

.form{
    margin-left: 0%;
    color: black;
    font-family:'Lato';
}

#body{
    padding-top: 25px;
}

.dialogBtn{
    width: 8em;
    background-color: #97144d;
    margin-left: 22px;
    color: white;
    margin-right: 10em;
    float: right;
    margin-top: 5px;
    line-height: 10px;
  }

  .dot {
    height: 8px;
    width: 8px;
   color: red;
    border-radius: 50%;
    display: list-item;
    margin-left: 15px;
    
  }
