<div id="body">
  <div #content class="tableContent">
    <div class="heading">
      <h5>Home Back Dated</h5>
    </div>

    <div class="radio-btns radio">
      <label class="color radiomar" for="rupeesRadio">
      <input type="radio" class="AmountStyle with-gap radiorupes" value="Amount in Rupees" name="Amount"
        [(ngModel)]='radioValue2' (change)="onItemChange(radioValue2)" id="rupeesRadio" />
      Amount in Rupees</label>

      <label class="color radiomar" for="croresRadio">
      <input  type="radio" class="AmountStyle radiocror" value="Amount in Crores"
        name="Amount" [(ngModel)]='radioValue2' id="croresRadio" (change)="onItemChange(radioValue2)" />
      Amount in Crores </label>
    </div>
    <br />

    <div class="row">
      <mat-form-field appearance="outline" class="date">
        <mat-label>As On Date</mat-label>
        <input matInput [matDatepicker]="picker" class="color"  [max]="yesterdayDate" [(ngModel)]='fromdate' readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"  class="color"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button id="btnlimitasondate"
        class="btnsearch"
        (click)="onSearch(fromdate)">Search</button>
    </div>
    <div class="row">
      <div class="infoMessage"> 
        <mat-icon [inline]="true">info</mat-icon> <span> Only past dates allowed</span>
      </div>
    </div>
    <div class="icon">
      <a mat-list-item (click)="onRefreshClick(fromdate)" > <img src="assets/img/refresh.png" class=refresh></a>

      <a mat-list-item (click)="onExcelDownloadClick()"> <img src="assets/img/excel.png" class=excel></a>
      <a (click)="onPDFDownload()"> <img src="assets/img/pdf.png" class="excel"></a>
      <br /><br />
    </div>

    <div class="tbla">

      <div class="tblb">

        <div class="tblc">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

            <ng-container matColumnDef="heads">
              <th  class="sr" mat-header-cell *matHeaderCellDef> Heads </th>
              <td mat-cell  class="right" *matCellDef="let element"> {{element.heads}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell  class="numberPadding" *matHeaderCellDef> Amount </th>
              <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.amount  | customCurrencyPipe }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="tbld">
          <table mat-table [dataSource]="dataSources" class="mat-elevation-z8 ;">

            <ng-container matColumnDef="accounttype">
              <th mat-header-cell  class="sr" *matHeaderCellDef> Account Type </th>
              <td mat-cell  class="right" *matCellDef="let element"> {{element.accounttype}} </td>
            </ng-container>

            <ng-container matColumnDef="totalcount">
              <th mat-header-cell  class="numberPadding" *matHeaderCellDef> Total Count </th>
              <td mat-cell class="numberPadding" *matCellDef="let element"><a routerLink="/main/account" class="tble"> {{element.totalcount}} </a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="tblf">
      <table mat-table [dataSource]="finDataSource" class="mat-elevation-z8 ">

        <ng-container matColumnDef="no">
          <th mat-header-cell class="sr" *matHeaderCellDef> S.No. </th>
          <td mat-cell  class="right" *matCellDef="let element"> {{element.no}} </td>
        </ng-container>

        <ng-container matColumnDef="finYear">
          <th mat-header-cell class="sr" *matHeaderCellDef> Year </th>
          <td mat-cell class="right" *matCellDef="let element"> {{element.finYear}} </td>
        </ng-container>

        <ng-container matColumnDef="LimitGrantAmt">
          <th mat-header-cell class="numberPadding" *matHeaderCellDef> Allocated
            Limits </th>
          <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.LimitGrantAmt | customCurrencyPipe}} </td>
        </ng-container>

        <ng-container matColumnDef="UtilisedLimit">
          <th mat-header-cell class="numberPadding" *matHeaderCellDef>Utilized Limit
          </th>
          <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.UtilisedLimit  | customCurrencyPipe}} </td>
        </ng-container>

        <ng-container matColumnDef="UnutilizedLimit">
          <th mat-header-cell class="numberPadding" *matHeaderCellDef>Unutilized
            Limit</th>
          <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.UnutilizedLimit | customCurrencyPipe}} </td>
        </ng-container>

        <ng-container matColumnDef="TotalInterestPaidInterest">
          <th mat-header-cell class="numberPadding" *matHeaderCellDef> Actual
            Interest </th>
          <td mat-cell class="numberPadding" *matCellDef="let element"> {{element.TotalInterestPaidInterest | customCurrencyPipe}}
          </td>
        </ng-container>

        <ng-container matColumnDef="TotalCount">
          <th mat-header-cell class="sr" *matHeaderCellDef> Number of
            Subsidiary Accounts </th>
          <td mat-cell class="right" *matCellDef="let element"> {{element.TotalCount}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="findisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: findisplayedColumns;"></tr>
      </table>
    </div>
  </div>